@media only screen and (max-width: 1180px) {
  body {
    padding-bottom: 63px;
  }
}

.sponsor-corner {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #db61a2bb;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #db61a2;

    svg {
      fill: white;
    }
  }

  svg {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 14% 10% 10% 10%;
  }
}
