$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/" !default;
@import "_variables.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "_bootswatch.scss";
@import "_githubCorner.scss";
@import "_mainContainer.scss";
@import "_slotsContainer.scss";

#readme textarea {
  width: 100%;
  height: 400px;
  font-family: monospace;
}

@media only screen and (max-width: 1400px) {
  body {
      padding-bottom: 63px;
  }
}
