div
  p Please select your Espruino board from the list below, selecting the incorrect option may result in unexpected behavior.
  select.form-control
    each board in boards
      option(value=board.value, selected=(board.selected ? "selected" : undefined))=board.name
