html
  head
    title Puck NTAG215 Management
  body
    .container#mainContainer
      a.btn.btn-default.btn-lg.btn-block.well#puckConnect Connect to Puck
      a.btn.btn-default.btn-lg.btn-block.well#viewOnGithub(href="https://github.com/DanTheMan827/ntag215-puck.js") View on GitHub
      a.btn.btn-default.btn-lg.btn-block.well#puckDisconnect Disconnect from Puck
      a.btn.btn-default.btn-lg.btn-block.well#puckName Change Name
      a.btn.btn-default.btn-lg.btn-block.well#puckUart Enable UART

      div#slotsContainer
