script(src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js')
script.
  kofiWidgetOverlay.draw('dantheman827', {
  'type': 'floating-chat',
  'floating-chat.donateButton.text': 'Support me',
  'floating-chat.donateButton.background-color': '#323842',
  'floating-chat.donateButton.text-color': '#fff'
  });
