case kind
  when "save-to-flash"
    p Do you want to save written tag data to the flash storage of the puck?
    p If this feature is not enabled, the tags stored on the puck will be lost when the battery dies or if it is removed.
    p This may reduce the life of the puck due to the additional writes to the flash storage.

  when "dfu-instructions"
    p To enter DFU mode, please remove the battery from your Puck.js and re-insert it while holding the power button until the LED indicator turns green.

  when "firmware-update"
    p=message
    p
      =currentBytes
      =" / "
      =totalBytes
      =" bytes"
    .progress(style="margin-bottom: 0;")
      .progress-bar.progress-bar-info(style=`width: ${(currentBytes / totalBytes) * 100}%`)
