#alertModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close.close-modal(data-dismiss="modal") &times;
        h4.modal-title
      .modal-body
        p
      .modal-footer
        button.btn.btn-default.close-modal(data-dismiss="modal") Close
