# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js Build

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - run: |
          git fetch --all
          git config --global user.name 'DanTheMan827 (Automated)'
          git config --global user.email '790119+DanTheMan827@users.noreply.github.com'
      - run: |
          REPOPATH="`pwd`"
          mkdir -p /tmp
          cp -R puck-ntag215-manager /tmp/builder
          git checkout -b gh-pages --track origin/gh-pages
          rm -r *
          cd /tmp/builder
          npm install
          npm run build
          cp -R dist/* "$REPOPATH"
          cd "$REPOPATH"
          touch ".nojekyll"
          git add -A .
          if git commit -m "[Automated] Build management page"; then
            git push -u origin gh-pages
          fi
